@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');


body{
    background: #2196f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-brand{
    font-family: Gloria Hallelujah;
}

main{
    width: 50%;
    margin: 0 auto;
    margin-top: 35%;
    text-align: center;
}

img{
    margin-bottom: 5%;
}

.correct{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background:#00B647;
    padding-top:10%;
    padding-bottom: 10%;
    border-radius:5%;
}

.incorrect{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background:#D90908;
    padding-top:10%;
    padding-bottom: 10%;
    border-radius:5%;
}
