<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="head :: header('Index')">

</head>

<nav th:fragment="navbar" class="navbar navbar-dark bg-dark" style="background-color: rgba(0,0,0,.3);">
    <a class="navbar-brand" th:href="@{/}">Age Guesser</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li   class="nav-item active">
                <a class="nav-link" th:href="@{/about}">About <span class="sr-only">(current)</span></a>
            </li>
            <li th:if="${loggedIn}"  class="nav-item active">
                <a class="nav-link" th:href="@{/welcome}">My Profile <span class="sr-only">(current)</span></a>
            </li>
            <li th:if="!${loggedIn}"  class="nav-item active">
                <a class="nav-link" th:href="@{/register}">Sign Up <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <!--User only sees the login form if they are not logged in-->
        <form th:if="!${loggedIn}" class="form-inline my-2 my-lg-0" th:action="@{/login}" method="post">
            <input placeholder="email" class="form-control mr-sm-2" id="username" name="username" type="text" />
            <input placeholder="password" class="form-control mr-sm-2" id="password" name="password" type="password" />
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Login</button>
        </form>

        <span th:if="${loggedIn}" class="active navbar-text"><span th:text="${totalGuessesOfUser}"></span> users have guessed your age</span>
        <br/>
        <span th:if="${loggedIn}" class="active navbar-text">On average you look: <span th:text="${howOldUserLooks}"></span> years old</span>
        <br/>
        <span th:if="${loggedIn}" class="active navbar-text">You've guessed <span th:text="${totalGuesses}"></span> other users ages</span>
        <br/>
        <span th:if="${loggedIn}" class="active navbar-text">Your guess accuracy is: <span id="score"></span></span>






        <!--User only sees the logout button if they are logged in-->
        <form th:if="${loggedIn}"  class="form-inline my-2 my-lg-0" th:action="@{/logout}" th:method="post">
        <button class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
        </form>





    </div>
</nav>
