<html lang="en" xmlns:th="http://www.thymeleaf.org">


<footer th:fragment="picEdit" class="footer">
    <script src="https://static.filestackapi.com/v3/filestack.js"></script>

    <script>

        var fsClient = filestack.init('ArO5wwodYTviskBP177Jwz');

        $('#editPicBtn').click(function(){
            openImagePicker();
        });

        function openImagePicker() {
            fsClient.pick({
                fromSources:["local_file_system", "url", "imagesearch", "facebook", "instagram", "dropbox"],
                accept:["image/*"],
                maxFiles:1,
                maxSize:10485760,
                transformations: {
                    crop: {
                        aspectRatio: 1,
                        force: true
                    },
                    circle:true
                }

            }).then(function (response) {
                // declare this function to handle response
                handleImageFilestack(response);
            });
        }

        function handleImageFilestack(response){
            var picUrl = '' + response.filesUploaded[0].url + ''
            $('#picUrl').val(picUrl);
            $('#save').html('<button type="submit" class="btn btn-success form-control">Save</button>')
            $('#cancel').html('<button class="btn btn-danger form-control">Cancel</button>').on('click', function(){
                location.reload();
            })
            $('#picBtn').hide();
            $('#currentUserImg').attr('src', picUrl);
        }

    </script>

</footer>


<!--</body>-->
<!--</html>-->