<html lang="en" xmlns:th="http://www.thymeleaf.org">


<footer th:fragment="scoreCalculator" class="footer">

    <script th:inline="javascript">

        var correctGuesses = /*[[${correctGuesses}]]*/ {};
        var totalGuesses = /*[[${totalGuesses}]]*/ {};
        if(correctGuesses == 0){
            $('#score').text("0%")
        }

        if(correctGuesses>0 && totalGuesses>0) {
            var score = correctGuesses / totalGuesses;
            var formattedScore = score.toFixed(2) * 100;
            $('#score').text(" " + formattedScore.toFixed(0) + "%")
        }
    </script>
</footer>

