@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');


body{
    background: #035E7B;
    color: #fff;
    font-family:Noto Sans, sans-serif;
    transition:background-color 0.5s ease;
}

.navbar-brand{
    font-family:Noto Sans, sans-serif;
}


h1.bigHeader{
    font-size: 5em;
    text-align: center;
    font-family: Architects Daughter, Noto Sans, sans-serif;
}

.about{
    width: 60%;
    margin: 0 auto;
    margin-top:10vh;
}

.card-img-top{
    width: 60%;
    height: auto;
    border-radius:50%;
    margin: 0 auto;
    transition:box-shadow 0.8s ease;
    -webkit-box-shadow: 0px 0px 22px 16px rgba(255,255,255,.3);
    -moz-box-shadow: 0px 0px 22px 16px rgba(255,255,255,.3);
    box-shadow: 0px 0px 22px 16px rgba(255,255,255,.3);
}

.incorrect{
    -webkit-box-shadow: 0px 0px 22px 16px rgba(237,37,78,1);
    -moz-box-shadow: 0px 0px 22px 16px rgba(237,37,78,1);
    box-shadow: 0px 0px 12px 16px rgba(237,37,78,1);
}

.correct{
    -webkit-box-shadow: 0px 0px 22px 16px #28A746;
    -moz-box-shadow: 0px 0px 22px 16px #28A746;
    box-shadow: 0px 0px 12px 16px #28A746;
}

.card-body, .card{
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    border: none;
    padding: 2%;
    background:transparent;
}


.fa-smile-beam, .fa-sad-cry{
    margin-top: 5%;
    font-size: 4em;
    text-align: center;
}

.fa-camera:hover{
    color:black;
}

#picBtn:hover{
    color: black;
}

#userScore{
    float: right;
    padding: 5%;
}

span.navbar-text{
    color: black;
    padding-right: 20px;
}

.registerForm{
    width: 80%;
    margin: 0 auto;
}

.card-img-top{

}

#editPhotoForm{
    padding-bottom:0;
}

li>a:hover, .navbar-brand:hover{
    opacity: .6;
}

.navbar-toggler-icon:hover{
    color:white;
    opacity:.6
}

.error{
    color: #ED254E;
}



.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

#keypad{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}





.nav-login{
    margin: 1%;
}


.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 50px;
    line-height: 1.33;
    border-radius: 50%;
}

/*.blinkMe {*/
    /*animation: blinker 2s linear infinite;*/
/*}*/

/*@keyframes blinker {*/
    /*50% {*/
        /*opacity: 0;*/
    /*}*/
/*}*/



