@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');


/*body{*/
    /*!*font-family: Gloria Hallelujah;*!*/
    /*background: #2196f3;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #f44336, #2196f3);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #f44336, #2196f3); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*!*color:white;*!*/
/*}*/

body{
    background:red;
}


.card-img-top{
    border-radius:50%;
}


.card-body, .card{
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    background:transparent;
    border: none;
}

