<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head :: header('About')">
</head>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <div class="about">
       <div class="row">
           <div class="col-12 text-center">
               <p>Find out how old you look according to other users, and test your age guessing accuracy!</p>
               <a th:href="@{/randomGuess}"><h4>Give it a try!</h4></a>
           </div>
       </div>
    </div>
</div>



<footer th:replace="partials/footer :: footer"></footer>