<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header('Edit Profile')">

</head>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="container">
<h1>Edit Profile Page</h1>

<form th:action="@{/editprofile}" th:object="${profile}" method="POST">

    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{user}">

    <label for="age">age</label>
    <input class="form-control" id="age" th:field="*{age}" />
    <br/>
    <label for="pic">pic</label>
    <input class="form-control" id="pic" th:field="*{pic_url}" />

    <button class="btn btn-success" th:type="submit">Save Changes to profile</button>

</form>

</div>

</body>
</html>