<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
</head>
<body>
<h1>Edit Profile</h1>
<form th:action="@{/editProfile}" method="POST" th:object="${profile}">

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{user}"/>

    <label for="age">Age</label>
    <input id="age" type="number" th:field="*{age}" />

    <label for="picture">Picture</label>
    <input type="text" id="picture" th:field="*{picture}" />

    <input value="Save" type="submit" />
</form>
</body>
</html>