<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
</head>
<body>
<h1>Guess</h1>


<h1>Guess the age of this user</h1>

<h1 th:text="*{user.username}"> - User</h1>
<h1 th:text="*{profile.age}"> - Age</h1>


<form th:action="@{/guess}" th:object="${guess}" method="POST">

    <label for="age">age</label>
    <input id="age" th:field="*{age}" />

    <br/>

    <button th:type="submit">Submit Guess</button>

</form>


</form>
</body>
</html>