<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header('Login')">

</head>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
<h1>Log In</h1>

<div th:if="${param.logout}">
    You have been logged out.
</div>



<form th:action="@{/login}" method="post">

    <label for="username">Email</label>
    <input class="form-control" id="username" name="username" type="text" />

    <label for="password">Password</label>
    <input class="form-control" id="password" name="password" type="password" />
    <p th:if="${param.error}">Invalid email or password</p>

    <input class="btn btn-primary" type="submit" value="Log In" />
</form>

<a style="color:white;" th:type="button" href="/register">New user? Sign Up</a>

</div>



<footer th:replace="partials/footer :: footer"></footer>