<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header('My Profile')">

</head>

<nav th:replace="partials/navbar :: navbar"></nav>


<div class="container">

<h1>My Profile</h1>



<h1 th:text="*{user.username}"></h1>
<h1 th:text="*{user.email}"></h1>

<h1 id="age" type="text" th:text="*{profile.age}"></h1>
<h1 id="pic" th:type="text" th:text="*{profile.pic_url}"></h1>


    <br/>
<a class="btn btn-warning" th:href="@{/editprofile}">Edit Profile</a>


        <form th:action="@{/logout}" th:method="post">
            <button class="btn btn-danger" style="margin-top: 8px">Logout</button>
        </form>

</div>


<footer th:replace="partials/footer :: footer"></footer>