<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header('Register')">
</head>

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">

<h1>Sign Up!</h1>
<form th:action="@{/register}" method="POST" th:object="${user}">

    <label for="email">Email</label>
    <br/>
    <input class="form-control" type="email" id="email" th:field="*{email}" />
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <p th:if="${userExists}">Sorry, that email address is already in our system</p>

    <br/>

    <label for="password">Password</label>
    <br/>
    <input class="form-control" id="password" type="password" th:field="*{password}" />
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <br/>


    <label for="birthYear">Birthday</label>
    <br/>
    <input class="form-control" id="birthYear" type="date" th:field="*{dob}" />
    <p th:if="${noDob}">Please enter your birthday</p>

    <br/>

    <a id="picBtn" class="btn btn-info">Select Photo</a>
    <br/>
    <input class="form-control" id="picUrl" type="hidden" th:field="*{photo}" />
    <p id="picOutcome"></p>
    <p th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></p>

    <br/>
   <button type="submit" id="signUp" class="btn btn-success">Sign Up!</button>

</form>


</div>
<footer th:replace="partials/footer :: footer"></footer>



<script src="https://static.filestackapi.com/v3/filestack.js"></script>

<script>

    var fsClient = filestack.init('ArO5wwodYTviskBP177Jwz');

    $('#picBtn').click(function(){
        openImagePicker();
    });

    function openImagePicker() {
        fsClient.pick({
            fromSources:["local_file_system", "url", "imagesearch", "facebook", "instagram", "dropbox"],
            accept:["image/*"],
            maxFiles:1,
            maxSize:10485760,
            transformations: {
                crop: {
                    aspectRatio: 1,
                    force: true
                },
                circle:true
            }

        }).then(function (response) {
            // declare this function to handle response
            handleImageFilestack(response);
        });
    }

    function handleImageFilestack(response){
        var picUrl = '' + response.filesUploaded[0].url + ''
        $('#picUrl').val(picUrl);
        $('#picOutcome').text('Success!')
    }

</script>



</body>
</html>